
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/starlight/config/applicationhost.config
.vs/starlight/FileContentIndex/4e9dc4ab-8d41-449f-b717-28e99298c443.vsidx
.vs/starlight/FileContentIndex/5f8af218-2206-4490-81d6-d791710b13a7.vsidx
.vs/starlight/FileContentIndex/7f093d04-af9a-44e3-973a-4ce4abe0c4bd.vsidx
.vs/starlight/FileContentIndex/85e3a625-ded7-4614-849c-2ced4cc600ef.vsidx
.vs/starlight/FileContentIndex/8af7ef9a-7052-412e-8c71-fb6035bcad1c.vsidx
.vs/starlight/v17/.wsuo
.vs/starlight/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
