html{
    background-color:#f0f8ff;
    text-align: center;  
    padding: 5px; 
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    
}

.picture{
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 0.5s ease forwards;
    width: 400px;
    height: 300px;
    margin: 10px;
}
@keyframes fadeInUp {
    from {
        opacity: 0; 
        transform: translateY(50px); 
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.icon-slide-in {
    animation: slideIn 2s ease-out forwards;
}

h1 {
    font-size: 24px;
}
h1, h2, h3, p {
    margin: 10px 0;
}

.menu-bar {
    background-color: #eee; /* Világosabb háttérszín */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position:fixed;
    top:0;
    right: 0;
    left: 0;

}

.menu-item {
    background-color: #555;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
    background-color: #ffcc00;
    color: #000;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.menu-item.active {
    background-color: #555; 
    color: #ffffff;
    box-shadow: 0 0 10px rgba(165, 92, 131, 0.5); 
    border-radius: 5px; 
}

.nav-list {
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.nav-list li {
    display: inline-block;
    margin-bottom: 5px;
     
}

.nav-list li:last-child {
    margin-right: 0; 
}

.nav-list li a {
    color: #333; 
    background-color: #f0f0f0;
    text-decoration: none; 
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.nav-list li a:hover {
    color: #ffcc00; /* szövegszín változtatása, amikor az egér fölötte van */
    background-color: #555;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation li {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    margin-left: 12px;
    border-right: 1px solid #808080; /* Elválasztó vonal hozzáadása */
    padding-right: 10px; /* Opcionálisan szélesebb tér az elválasztó vonal után */
}


.navigation li:last-child {
    border-right: none; /* Az utolsó listaelemnél ne legyen jobb oldali vonal */
}

#navigation {
    background-color: transparent;
    color: #808080;
    padding: 6px;
}

#header{color:#020243}
#content{color:#044618;}
#footer{color:#413838}

a{color:#808080}
a:visited{color:#696969}
a:hover{color:#006400}

.audio-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.audio-container p {
    font-style: italic;
    color: #808080;
}


input{
    margin: 10px
}
input:required{
    background-color: #ffffff;
}
input:optional,textarea:optional{
    background-color: #f0f0f0;
}
input:focus,textarea:focus{
    background-color: #add8e6;
}
.intro-text {
    font-weight: bold;
    font-style: italic;
}
audio {
    margin-top: 20px;
    margin-bottom: 20px;
}
audio p {
    font-style: italic;
    color: #808080;
}
textarea {
    max-width: 60%;
    width: 60%;
    min-height: 100px;
    padding: 10px;
    resize: vertical;
    overflow: hidden;
}

