html{
    background-color:#f0f8ff;
    text-align: center;  
    padding: 5px; 
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.picture{
    width: 400px;
    height: 300px;
}

h1, h2, h3, p {
    margin: 10px 0;
}

.menu-bar {
    background-color: #333; 
    padding: 10px; 
    display: flex; /
    justify-content: space-between; 
    align-items: center; 
}

.nav-list {
    list-style: none; 
    padding: 0; 
    margin: 0;
    display: flex; 
}

.nav-list li {
    margin-right: 20px; 
}

.nav-list li:last-child {
    margin-right: 0; 
}

.nav-list li a {
    color: #fff; 
    text-decoration: none; 
    transition: color 0.3s; /* átmenet a szövegszín megváltoztatásához */
}

.nav-list li a:hover {
    color: #ffcc00; /* szövegszín változtatása, amikor az egér fölötte van */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation li {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    margin-left: 12px;
    border-right: 1px solid #808080; /* Elválasztó vonal hozzáadása */
    padding-right: 10px; /* Opcionálisan szélesebb tér az elválasztó vonal után */
}


.navigation li:last-child {
    border-right: none; /* Az utolsó listaelemnél ne legyen jobb oldali vonal */
}

#navigation {
    background-color: transparent;
    color: #808080;
    padding: 6px;
}

#header{color:#020243}
#content{color:#044618;}
#footer{color:#413838}

a{color:#808080}
a:visited{color:#696969}
a:hover{color:#006400}

.audio-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.audio-container p {
    font-style: italic;
    color: #808080;
}

.light-mode {
    background-color: white;
    color: black !important; 
}

.dark-mode {
    background-color: black;
    color: white !important; 
}

input{
    margin: 10px
}
input:required{
    background-color: #ffffff;
}
input:optional,textarea:optional{
    background-color: #f0f0f0;
}
input:focus,textarea:focus{
    background-color: #add8e6;
}
.intro-text {
    font-weight: bold;
    font-style: italic;
}
audio {
    margin-top: 20px;
    margin-bottom: 20px;
}
audio p {
    font-style: italic;
    color: #808080;
}
textarea {
    max-width: 60%;
    width: 60%;
    padding: 10px;
    box-sizing: border-box; /* Ez biztosítja, hogy a padding ne változtassa meg a méretet */
}