html{
    background-color:#f0f8ff;
    text-align: center;  
    padding: 5px; 
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.picture{
    width: 400px;
    height: 300px;
}

h1, h2, h3, p {
    margin: 10px 0;
}


.navigation li {
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    margin-left: 12px;
    border-right: 1px solid #808080; /* Elválasztó vonal hozzáadása */
    padding-right: 10px; /* Opcionálisan szélesebb tér az elválasztó vonal után */
}


.navigation li:last-child {
    border-right: none; /* Az utolsó listaelemnél ne legyen jobb oldali vonal */
}

#navigation {
    background-color: transparent;
    color: #808080;
    padding: 6px;
}

#header{color:#020243}
#content{color:#044618;}
#footer{color:#413838}

a{color:#808080}
a:visited{color:#696969}
a:hover{color:#006400}

.audio-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.audio-container p {
    font-style: italic;
    color: #808080;
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.light-mode {
    background-color: #f0f8ff;
    color: #000000; 
}